<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:code_generation_config.properties"/>

    <!-- 负责解析注解Bean -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <!-- 使用annotation自动注入bean,并启动相关处理注解的进程 -->
    <context:component-scan base-package="com.coding"/>

    <!--编程式事务注解 -->
    <tx:annotation-driven/>

    <!-- 配置数据库数据源 -->
    <bean id="basicDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" lazy-init="false">
        <property name="jdbcUrl" value="${basic_jdbc_url}"/>
        <property name="driverClass" value="${basic_driver}"/>
        <property name="user" value="${basic_username}"/>
        <property name="password" value="${basic_password}"/>
        <!-- 初始化连接池连接数 -->
        <property name="initialPoolSize" value="32"/>
        <!-- 连接池最小连接数 -->
        <property name="minPoolSize" value="32"/>
        <!-- 连接池最大连接数 -->
        <property name="maxPoolSize" value="128"/>
        <!-- 现有连接已经用完，在申请连接一次申请数量 -->
        <property name="acquireIncrement" value="16"/>
        <!-- 最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃 -->
        <property name="maxIdleTime" value="60"/>
        <!-- 每60秒检查所有连接池中的空闲连接 -->
        <property name="idleConnectionTestPeriod" value="60"/>
        <!-- 当连接池用完时客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException,如设为0则无限期等待 -->
        <property name="checkoutTimeout" value="1000"/>
        <!--连接池为数据源单个Connection缓存的PreparedStatement数 -->
        <property name="maxStatementsPerConnection" value="30"/>
        <!--连接池在回收数据库连接时是否自动提交事务 -->
        <property name="autoCommitOnClose" value="true"/>
    </bean>


    <!-- 配置数据库事务统一控制 -->
    <bean id="basicTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="basicDataSource"/>
    </bean>
    <!-- 配置数据库持久化中间件实例 -->
    <bean id="basicJdbcTarget" class="com.coding.jdbc.tools.SpringJdbcTemplateTool">
        <property name="dataSource" ref="basicDataSource"/>
    </bean>
</beans>